<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Alterar Dados</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
  <style>
    .input-field input:focus {
      border-bottom: 2px solid #ffcc00; /* Amarelo ao focar */
      box-shadow: 0 1px 0 #000; /* Sombra preta ao focar */
      transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
    }

    .btn.red {
      background-color: #FF0000; /* vermelho */
      color: #FF0000; /* vermelhor */
    }

    .btn.red:hover {
      background-color: #808080; /* cinza  ao passar o mouse */
    }
  </style>
</head>
<body>

<div class="container">
  <h1>Alterar Dados</h1>
  <form th:action="@{/atualizarEvento}" th:object="${evento}" method="post">
    <input type="hidden" th:field="*{codigo}" />

    <div class="input-field">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" th:field="*{nome}" required>
    </div>
    <div class="input-field">
      <label for="local">Local:</label>
      <input type="text" id="local" th:field="*{local}" required>
    </div>
    <div class="input-field">
      <label for="data">Data:</label>
      <input type="text" id="data" class="datepicker" th:field="*{data}" required>
    </div>
    <div class="input-field">
      <label for="horario">Horário:</label>
      <input type="text" id="horario" th:field="*{horario}" required>
    </div>
    <button type="submit" class="btn red">Salvar</button>
  </form>

  <div th:if="${mensagem}" class="card-panel teal lighten-2">
    <span class="white-text" th:text="${mensagem}"></span>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var options = {
      format: 'dd-mm-yyyy',
      minDate: new Date(1960, 0, 1),
      maxDate: new Date(2050, 11, 31)
    };
    M.Datepicker.init(elems, options);
  });
</script>

</body>
</html>
